/*** ESSENTIAL STYLES ***/
#breadcrumbs .nav, #breadcrumbs .nav * {
margin: 0;
padding: 0;
list-style: none;
}
#breadcrumbs .nav li {
position: relative;
}
#breadcrumbs .nav ul {
position: absolute;
display: none;
top: 100%;
left: 0;
z-index: 99;
}
#breadcrumbs .nav > li {
float: left;
}
#breadcrumbs .nav li:hover > ul,
#breadcrumbs .nav li.sfHover > ul {
display: block;
overflow:visible;
}

#breadcrumbs .nav a {
display: block;
position: relative;
}
#breadcrumbs .nav ul ul {
top: 0;
left: 100%;
}


/*** DEMO SKIN ***/
#breadcrumbs .nav {
float: left;
background: #ed8900;
width: 100%;
/*border-top: 1px solid #FFFFFF;*/
}
#breadcrumbs .nav ul {
box-shadow: 2px 2px 6px rgba(0,0,0,.2);
min-width: 12em; /* allow long menu items to determine submenu width */
*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
#breadcrumbs .nav a {/* border-left: 1px solid #fff; *//* border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */padding: .68em 1.9em;text-decoration: none;color: #fff;zoom: 1; /* IE7 */}

#breadcrumbs .nav li {background: #ed8900;white-space: nowrap; /* no need for Supersubs plugin */
*white-space: normal; /* ...unless you support IE7 (let it wrap) */-webkit-transition: background .2s;transition: background .2s;font-size: 16px;font-weight: bold;}
#breadcrumbs .nav ul li {
background: #ed8900;
font-weight: normal;
text-align: left;
}
#breadcrumbs .nav li:hover,
#breadcrumbs .nav li.sfHover {
background: #eb9c31;
/* only transition out, not in */
-webkit-transition: none;
transition: none;
}
#breadcrumbs .nav ul li a {
  padding: .75em 3.8em .75em 1em;
}

/*menu bar parameters*/
#breadcrumbs nav input{
  display:none;
}

#breadcrumbs label {
  display: none;
}


input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 768px) {
    #breadcrumbs {position: absolute;right: 0px;z-index: 1;text-align: left;background: transparent;overflow: hidden;padding-bottom: 1000px;max-width: 330px;}

    #breadcrumbs ul {
        transform: translateY(-100%);
        transition: all 1s;
        border-radius: 0 0 0 15px;
        overflow: hidden;
    }

    #breadcrumbs .nav li {
        float: none;
        border-bottom: solid 1px #fff;
    }

    #breadcrumbs .nav li:hover > ul {
      position: relative;
      transform: translateY(0%);
      transition: none;
      display: block !important;
      background: #eb9c31;
    }

    #breadcrumbs .nav ul li {
      background: #eb9c31;
      position: relative;
      top: 100%;
    }

    #breadcrumbs .nav ul li a {
      padding-left: 50px;
    }

    #breadcrumbs a.sf-with-ul {
      pointer-events: none !important;
      cursor: default;
    }
/* menu-knop toggler plus animaties */
    #breadcrumbs label::before {
        background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) 15px, #0070c1 16px);
        position: absolute;
        display: block;
        height: 15px;
        width: 15px;
        top: 0px;
        right: 75px;
        z-index: 3;
        content:"";
    }

    #breadcrumbs label {
      content:"";
      display: block;
      z-index: 3;
      position: absolute;
      right: 0px;
      height: 50px;
      width: 75px;
      background: #0070c1;
      border-radius: 0 0 0 15px;
    }

    #breadcrumbs label span {
        position: absolute;
        display: block;
        top: 20px;
        left: 16px;
        right: 12px;
        background: white;
        height: 6px;
        border-radius: 2px;
    }

    #breadcrumbs label span::before,
    #breadcrumbs label span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 2px;
        content: "";
    }

    #breadcrumbs label span::before {top: -14px;}
    #breadcrumbs label span::after {bottom: -14px;}

    nav label:hover {
      cursor: pointer;
    }

    #breadcrumbs :checked ~ ul {
        transform: translateY(0px);
        padding-top: 70px;
    }
    #breadcrumbs :checked ~ label{
        content: url("http://testsite.kampeerenoutdoorreiling.nl/images/M_images/menu-iconx.png");
    }

    #breadcrumbs ul li:last-child {border-bottom: none;}
}
