/*****************************************/
/*** Common layout elements        ***/
/*****************************************/

html {    height: 100%; margin-top: 0px; margin-bottom: 0px; overflow: -moz-scrollbars-vertical;}
form {    margin: 0; padding: 0;}
img {    border: none; max-width: 100%; height: auto;}
table{    border: none; border-collapse: collapse; }
p {      margin-top: 0; margin-bottom: 5px; text-align: left; width: 100%;}
a {      text-decoration: none; color: #0070c1;}


/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

body{margin:0 auto;padding-bottom: 20px;text-align:center;font-size: 16px;line-height:23px;font-family: Arial, Tahoma, sans-serif;}
#background { position: fixed; top:-100px; display: block; background: url(http://hardenberg.kampeerenoutdoorreiling.nl/images/front_page/background-homepage.jpg); background-position: center top; width: 100%; height: 2000px;}
#siteswitch{  position: relative; margin:0; padding:0; text-align:center;}
#language_selector {position: relative;top: 110px;right: 20px;margin: 0 auto;padding:0;max-width:970px;text-align: right;height: 22px;z-index: 1;}
#sitewrap{    position: relative; margin:0 auto; padding:0; max-width:1000px; background: #fff; box-shadow: 0 0 8px 1px rgba(100,100,100,0.4); border-radius: 20px; overflow: hidden;}
#home img {height: 110px;position: absolute;top: 28px;left: 38px;z-index:2;}
#header{margin:0;padding:0;max-width:1000px;height: 160px;background: #0070c1;}
#breadcrumbs{  margin:0; padding:0; max-width:1000px; height: 35px; background: #ed8900;}
#content{    margin:0; padding:0; max-width:1000px;}
#leftcolumn {  margin:0; padding:25px; max-width:160px; float: left; text-align: left;}
#maincolumn {width: 100%;box-sizing: border-box;margin:0;padding: 0px 4%;max-width: 79%;float: left;text-align: left;}
#bannercolumn {width: 100%;height: auto;margin:0;padding:0;max-width: 79%;float: left;text-align: left;}
#rightcolumn {margin:0;padding: 25px 4% 25px 0;max-width: 16%;float: right;text-align: right; font-size: 14px;}
#footer{ width: 100%; margin-top:15px; padding: 10px 0; max-width:1000px; background: #e0e9ef; display: inline-block; border-top: 5px solid #0070c1;}

div.nopad {    margin:0; padding:0; max-width: 740px; overflow: hidden;}
div.nopad ul {    clear:both;}

div#language_selector div { float:right; }

#siteswitch a {display: inline-block;height: 38px;width: 218px;background-color: #FFFFFF;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;color: #ed8900;font-size: 28px;line-height: 40px;border: 3px solid #ed8900;border-top: 0px;box-shadow: 0 0 10px rgba(50,50,50,0.75);}
#siteswitch a.huidige-locatie {background-color: #0070c1; color: #fff; border-color: #0070c1;}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

/*header specific styles*/
h1 {                    margin: 0; padding: 0 0 10px 0; font-family: Arial, Tahoma, sans-serif; font-size: 26px; color: #FF0000; text-align: left; font-weight: bold;line-height:initial;}
h2 {                    margin: 18px 0; padding-bottom: 15px; font-family: Arial, Tahoma, sans-serif; font-size: 24px; font-weight: normal; line-height:initial;color: #0070c1; border-bottom: 1px solid #ed8900; width: 100%;}
h3 {                    margin: 0; padding: 0; font-family: Arial, Tahoma, sans-serif; font-size: 12px; text-align: left;line-height:initial;}
h4 {                    margin: 0; padding: 0; font-family: Arial, Tahoma, sans-serif; font-size: 10px; color: #3D3E8E;line-height:initial;}

.bluelink {  background: #0070c1; color: #fff; font-weight: bold; padding: 8px; border-radius: 5px; float: left;}
.componentheading {            margin: 0; padding: 0; font-family: Arial, Tahoma, sans-serif; font-size: 12px; text-align: left;line-height:initial;}
.contentheading {           clear:both; margin: 18px 0; padding-bottom: 4px; font-family: Arial, Tahoma, sans-serif; font-size: 28px; line-height:initial; font-weight: bold; color: #0070c1; border-bottom: 1px solid #ed8900; width: 100%;}
.contentsubheading {            margin-top: 8px; margin-bottom: 15px; padding-bottom: 4px; display: block; font-family: Arial, Tahoma, sans-serif; line-height:initial; font-size: 18px; font-weight: normal; color: #0070c1; border-bottom: 1px solid #ed8900; width: 100%;}
.contentsubheading2 {         font-family: Arial, Tahoma, sans-serif; font-size: 16px; font-weight: bold; color: #0070c1; width: 100%; line-height:initial;}

/*banner column parameters*/
#bannercolumn div.module { margin-bottom: -18px; border: 25px solid #FFFFFF;}

/*google maps route button*/
#maincolumn input.button { margin-bottom: 10px; background: #0070c1; color: #fff; font-weight: bold; border: none; border-radius: 5px;}
#maincolumn input.button:hover {cursor: pointer;}

/*not sure what this is =(*/
table.contentpane, .contentpaneopen {    margin: 0; padding: 0; width: 740px;}
table.contentpane  {            text-align: left; float: left; width: 740px;  margin: 8px;}
table.contentpane ul li a .category {      color: #FF8800;}
table.contentpane ul li {          color: #333;}
table.contentpaneopen {          margin-bottom: 15px; padding: 0;}
table.contentpaneopen li {          margin-bottom: 5px;}
table.contentpaneopen fieldset {        border: 0; border-top: 1px solid #669933;}
table.contentpaneopen h3 {          }
table.contentpaneopen h4 {          }

/* module control elements */
table.user1user2 div.moduletable {      }
div.moduletable, div.module {  clear: both;      }
div.module_menu, div.module {        }
div.module_menu div, div.module div {      }
div.module_menu div div, div.module div div {  }
div.module_menu div div div {          }
div.module_menu div div div div {        }
div.module div div div form {           }
div.module_menu ul {            }
div.module_menu ul li{            }
div.module_menu ul li a:link,
div.module_menu ul li a:visited {      }
ul.nav.menuhorizontal_menu {margin: 0;}
ul.nav.menuhorizontal_menu li {margin: 4px; display:inline; list-style-type:none; float:left; position: relative; top: 35px; box-shadow: 0 0 1px 3px rgba(255,255,255,0.75); border-radius: 1px;}
ul.nav.menuhorizontal_menu li a:hover {box-shadow: 0 0 1px 3px rgba(237,137,0,0.75); border-radius: 1px;}

/*article control elements*/
.readmore { }
.readmore a { font-weight: bold; color: #fff; float: right; background: #0070c1; padding: 8px; border-radius: 5px;}
a:hover img {opacity: 1 !important; filter: alpha(opacity=100) !important;}


#column1 {
  float: left;
  /*width: 500px;*/
  /*margin-right: 20px;*/
}
#column2 {
  float: left;
  /*width: 220px;*/
}
#column3 {
  float: left;
  /*width: 410px;*/
  margin-right: 20px;
  margin-bottom: 20px;
}
#column4 {
  float: left;
  /*width: 300px;*/
}

/* Category Blog column settings */
.cols-2 .contentheading { margin: 10px 0; padding-bottom: 8px; font-size: 18px; line-height:initial;}

.cols-1
{
display: block;
float: none !important;
margin: 0 !important;
}

.cols-2 .column-1
{
width:46%;
float:left;
}

.cols-2 .column-2
{
width:46%;
float:right;
margin:0
}

.cols-3 .column-1
{
float:left;
width:29%;
padding:0px 5px;
margin-right:4%

}
.cols-3 .column-2
{
float:left;
width:29%;
margin-left:0;
padding:0px 5px
}
.cols-3 .column-3
{
float:right;
width:29%;
padding:0px 5px
}

.items-row
{
overflow:hidden;
margin-bottom:10px !important;
  clear: both;
}

.column-1,
.column-2,
.column-3
{
padding:10px 5px
}

.column-2
{
width:55%;
margin-left:40%;
}

.column-3
{
width:30%
}

.blog-more
{
padding:10px 5px
}

/*fill elements of page*/

#rightcolumn h3 {                    margin: 0 0 8px 0; padding: 0 0 2px 0; font-family: Arial, Tahoma, sans-serif; font-size: 18px; color: #0070c1; border-bottom: 1px solid #ed8900; text-align: left;}
#rightcolumn div.module{          margin-bottom: 16px; padding: 0; text-align: left;}
#rightcolumn div.module table {        }
#rightcolumn img {height:100%;width:100%;}

/* Frontend Editing*/
fieldset {              border: 1px solid #ccc;  margin-top: 15px; padding: 15px;}
legend {              margin: 0; padding: 0 10px;}
td.key {              border-bottom:1px solid #eee; color: #333;}

/* Tooltips */
.tool-tip {            float: left; background: #ffc; border: 1px solid #D4D5AA; padding: 5px;  max-width: 200px;}
.tool-title {          padding: 0;  margin: 0; font-size: 100%;  font-weight: bold; margin-top: -15px; padding-top: 15px; padding-bottom: 5px; background: url(../../system/images/selector-arrow.png) no-repeat;}
.tool-text {            font-size: 100%; margin: 0;}

/* System Standard Messages */
#system-message dd.message ul {  background: #C3D2E5; padding: 0; margin: 0;}
/* System Error Messages */
#system-message dd.error ul {     color: #c00; background: #E6C0C0; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; padding: 0; margin: 0;}
/* System Notice Messages */
#system-message dd.notice ul {   color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; padding: 0; margin: 0;}


/* Tablet */
@media screen and (max-width: 768px) {
  #siteswitch {position: absolute;top: 40px;right: 0px;z-index: 4;width: 380px;}
  #sitewrap {border-radius: 0px;}
  #language_selector {display: none}
  #content{margin-top:37px}                       /*creates space for menu button*/
  #bannercolumn, #maincolumn {max-width: 768px}   /*resets max-width from percentages*/

  /*vestigingen switch voor mobiele apparaten rechtsboven*/
  #siteswitch a {
    background: transparent;
    color: #fff;
    border: none !important;
    border-radius: 0px;
    box-shadow: none;
    font-size: 20px;
    text-align: right;
    float: right;
    padding-right: 70px;
  }

  #siteswitch a.huidige-locatie {
    background: url("http://testsite.kampeerenoutdoorreiling.nl/images/M_images/locatie-huidig.png") 70px no-repeat;
  }

  #siteswitch a.fysieke-locatie {
    background: url("http://testsite.kampeerenoutdoorreiling.nl/images/M_images/locatie-fysiek.png") 70px no-repeat;
  }

  #siteswitch a.webshop-locatie {
    background: url("http://testsite.kampeerenoutdoorreiling.nl/images/M_images/locatie-webshop.png") 70px no-repeat;
  }

  /*remove right column on smaller screens*/
  #rightcolumn {
    display: none;
  }

  #bannercolumn .module {
    border: 0;
  }
}
